$breakpoint_xl: 1170px;
$breakpoint_md: 767px;
$breakpoint_sm: 380px;
:root {
  --var--white-color: rgba(255, 255, 255, 1);
  --var-body-bg: rgb(244, 240, 240);
  --var--header-gradient: linear-gradient(
    90deg,
    rgba(13, 208, 186, 1) 35%,
    rgba(42, 134, 229, 1) 100%
  );
  --var-header-color-menuItem: rgba(42, 134, 229, 1);
  --var-header-bg-search: rgba(238, 238, 238, 1);
  --var-header-color-search: rgba(117, 117, 117, 1);
  --var-heder-modal--icon: rgba(112, 112, 112, 1);
}
[dark] {
  --var-body-bg: rgba(14, 18, 25, 1);
  --var-header-color-menuItem: rgba(13, 208, 186, 1);
  --var-header-bg-search: rgba(24, 58, 93, 1);
  --var-header-color-search: rgba(255, 255, 255, 1);
  --var-heder-modal--icon: rgba(255, 255, 255, 1);
}

.conteiner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

//* Top header nav
.header {
  background: linear-gradient(
    90deg,
    rgba(13, 208, 186, 1) 35%,
    rgba(42, 134, 229, 1) 100%
  );

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 50px;

    @media screen and (min-width: $breakpoint_md) and (max-width: $breakpoint_xl) {
      & {
        max-width: 720px;
        position: relative;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
    @media screen and (min-width: $breakpoint_sm) and (max-width: $breakpoint_md) {
      & {
        max-width: 350px;
        position: relative;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: var(--var--white-color);

    @media screen and (min-width: 0) and (max-width: $breakpoint_md) {
      & {
        display: none;
      }
    }
  }

  &__item {
    margin-right: 23px;

    &:last-child {
      margin-right: 0px;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }

    &:active {
      cursor: pointer;
      transform: scale(1.2);
    }
  }
}

//* Social Nav
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0px;
  @media screen and (min-width: $breakpoint_sm) and (max-width: $breakpoint_md) {
    & {
      width: 100%;
      height: 50px;
      position: relative;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
  }

  &__link {
    width: 29px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  &__link:hover {
    transform: scale(1.1);
  }

  &__link:active {
    transform: scale(1.2);
  }

  &__icon * {
    fill: var(--var--white-color);
  }
}

//* Button click theme
.button__theme {
  width: 54px;
  height: 29px;
  background-color: var(--var--white-color);
  border-radius: 50px;
  text-align: left;
  padding-left: 3px;

  @media screen and (min-width: $breakpoint_sm) and (max-width: $breakpoint_md) {
    & {
      margin-left: 96px;
    }
  }
  &:hover {
    cursor: pointer;
  }

  &.is-open {
    text-align: right;
    background-color: var(--var-header-bg-search);
    padding-right: 3px;
  }
}
.button__icon {
  border-radius: 50%;
}
.button__blok {
  transition: margin 0.2s;
}

.button__blok.is-open {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12.5px;
  background-color: var(--var--white-color);
  margin-left: 23px;
}
//*Botton header nav

.nav {
  height: 110px;
  display: flex;
  align-items: center;
  @media screen and (min-width: $breakpoint_md) and (max-width: $breakpoint_xl) {
    & {
      width: 720px;
      height: 60px;
      justify-content: space-between;
      position: relative;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
  @media screen and (min-width: $breakpoint_sm) and (max-width: $breakpoint_md) {
    & {
      width: 380px;
      height: 60px;
      justify-content: space-between;
      position: relative;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }

  &__logo {
    width: 134px;
    height: 18px;
    margin-right: 61px;
  }

  &__site {
    display: flex;
    @media screen and (min-width: 0) and (max-width: $breakpoint_xl) {
      & {
        display: none;
      }
    }
  }

  &__items {
    margin-right: 28px;

    &:last-child {
      margin-right: 0px;
    }
  }

  &__link {
    color: var(--var-header-color-menuItem);
    font-weight: 500;
    font-size: 18px;
  }
}

.search {
  display: flex;
  align-items: center;
  margin-left: auto;
  background-color: var(--var-header-bg-search);
  border-radius: 38px;
  @media screen and (min-width: 0px) and (max-width: $breakpoint_xl) {
    & {
      display: none;
    }
  }
  &__label {
    display: flex;
  }
  &__input {
    margin: 11px auto 11px 21px;
    color: var(--var-header-color-search);
    font-size: 16px;
  }
  &__button:active {
    transform: scale(1.2);
  }
  &__icons {
    width: 19px;
    height: 20px;
    margin-right: 10px;
  }
}

.modalHeaderButton {
  &:active {
    transform: scale(1.1);
  }
  @media screen and (min-width: $breakpoint_xl) {
    & {
      display: none;
    }
  }

  @media screen and (min-width: $breakpoint_sm) and (max-width: $breakpoint_md) {
    & {
      margin-right: 28px;
    }
  }
  &__icon {
    width: 26px;
    height: 22px;
    margin-left: 10px;
  }
  &__icon * {
    fill: rgba(42, 134, 229, 1);
  }
}

//Modal
.modal__form {
  background-color: var(--var-header-bg-search);
  border-radius: 38px;

  &__label {
    display: flex;
    margin-left: 0px;
  }
  &__input {
    color: var(--var-header-color-search);
    font-size: 16px;
  }
  &__button:active {
    transform: scale(1.2);
  }
  &__icons {
    width: 19px;
    height: 20px;
  }
}

.modal {
  margin-bottom: 20px;
  &.is-open {
    display: none;
  }
  &__site {
    margin-top: 75px;
    text-align: center;
  }
  &__items {
    margin-bottom: 50px;
  }
  &__items:last-child {
    margin-bottom: 153px;
  }
  &__link {
    color: var(--var-header-color-menuItem);
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: $breakpoint_sm) and (max-width: $breakpoint_md) {
      & {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
  &__item {
    margin-right: 40px;
    @media screen and (min-width: $breakpoint_sm) and (max-width: $breakpoint_md) {
      & {
        margin-right: 0px;
        margin-bottom: 23px;
      }
    }
  }
  &__item:last-child {
    margin-right: 0px;
  }
  &__links {
    font-weight: 500;
    font-size: 18px;
    color: var(--var-heder-modal--icon);
  }
  &__icons * {
    fill: var(--var-heder-modal--icon);
  }
}
